@import 'bootstrap/dist/css/bootstrap.css';

body {
    background-color: #222428;
    color: #eee;
    font-size: larger;
}

h5 {
    padding-top: 1vh;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }